# Ignoruj wszystkie foldery bin/
[Bb]in/

# ALE nie ignoruj folderu bin w Robot_SCARA/External/Assimp/
!Robot_SCARA/External/Assimp/bin/
!Robot_SCARA/External/Assimp/bin/**

# Build output
[Oo]bj/

# Visual Studio temp files
.vs/
*.user
*.suo
*.ipch

# Log files
*.log

# Ignoruj pliki tymczasowe
*.tmp
*.temp

# Nie ignoruj DLL (ważne biblioteki)
# Usuń lub skomentuj linijkę: *.dll

# Jeśli trzymasz biblioteki w folderze libs/ lub external_libs/, dodaj wyjątek, żeby te pliki były śledzone
!libs/**/*.dll
!external_libs/**/*.dll

# Inne zasady ignorowania, które nie wyłączają bibliotek:
*.exe
*.pdb